name: Run

on:
  schedule:
    # The docs suggest not to schedule this on the full hour:
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    - cron: '42 0,8,16 * * *'

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        builder:
          - autoconf
        branch:
          - REL_14_STABLE
          - REL_15_STABLE
          - REL_16_STABLE
          - REL_17_STABLE
          - REL_18_STABLE
          - HEAD
        include:
          - builder: meson
            branch: REL_16_STABLE
          - builder: meson
            branch: REL_17_STABLE
          - builder: meson
            branch: REL_18_STABLE
          - builder: meson
            branch: HEAD
    name: ${{ matrix.branch }} (${{ matrix.builder }})
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Build Dockerfile
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          load: true
          push: false
          tags: buildfarm-client:alpine
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: postgres/postgres
          ref: ${{ matrix.branch != 'HEAD' && matrix.branch || '' }}
          path: source
          # TODO: Change to shallow-since once this is solved:
          # https://github.com/actions/checkout/issues/947
          fetch-depth: 100
      - id: postgres
        run: echo "commit=$(git -C source rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: build
          key: run-alpine-${{ matrix.builder }}-${{ matrix.branch }}-${{ steps.postgres.outputs.commit }}
          restore-keys: run-alpine-${{ matrix.builder }}-${{ matrix.branch }}-
      - name: Run buildfarm client
        run: |
          mkdir -p build
          docker run --rm \
            -e ANIMAL=${{ matrix.builder == 'autoconf' && vars.AUTOCONF_ANIMAL || vars.MESON_ANIMAL }} \
            -e SECRET=${{ matrix.builder == 'autoconf' && secrets.AUTOCONF_SECRET || secrets.MESON_SECRET }} \
            -v ./build:/mnt/build \
            -v ./source:/mnt/source \
            -u "$(id -u):$(id -g)" \
            --privileged \
            buildfarm-client:alpine \
              --force \
              --config ${{ matrix.builder }}.conf \
              ${{ matrix.branch }}
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: ${{ matrix.builder }}-${{ matrix.branch }}-logs
          path: build/**/*.log
          if-no-files-found: error
