name: Test

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  # Terminate all previous runs of the same workflow for pull requests
  group: test-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        builder:
          - autoconf
          - meson
    name: Test ${{ matrix.builder }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Build Dockerfile
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          load: true
          push: false
          tags: buildfarm-client:alpine
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: postgres/postgres
          path: source
      - id: postgres
        run: echo "commit=$(git -C source rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"
      - uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        id: restore-cache
        with:
          path: build
          key: test-alpine-${{ matrix.builder }}-${{ steps.postgres.outputs.commit }}
          restore-keys: test-alpine-${{ matrix.builder }}-
      - name: Test ${{ matrix.builder }}.conf
        run: |
          mkdir -p build
          docker run --rm \
            -v ./build:/mnt/build \
            -v ./source:/mnt/source \
            -u "$(id -u):$(id -g)" \
            --privileged \
            buildfarm-client:alpine \
              --test \
              --config ${{ matrix.builder }}.conf
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: always()
        with:
          name: ${{ matrix.builder }}-logs
          path: build/**/*.log
          if-no-files-found: error
      - uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        if: github.ref == 'refs/heads/main'
        with:
          path: build
          key: test-alpine-${{ matrix.builder }}-${{ steps.postgres.outputs.commit }}
